<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="accent">
	<img src="assets/images/logo.PNG">
	<nav fxLayout="row" fxLayoutAlign="space-between center">
		<a class="px-8" mat-button routerLink="/home" routerLinkActive="active">Accueil</a>
		<a class="px-8" mat-button routerLink="/search" routerLinkActive="">Rechercher</a>
		<a class="px-8" mat-button routerLink="/login" routerLinkActive="">Connexion</a>
	</nav>
</mat-toolbar>
