<div class="p-12" fxLayout="column">
    <mat-tab-group>
        <!--Connexion-->
        <mat-tab label="Connexion">
            <p>
                Connectez-vous pour accéder à votre compte gestionnaire
            </p>
            <form fxLayout="column" name="loginForm" formGroupName="loginForm">
                <mat-form-field appearance="outline">
                    <mat-label>username</mat-label>
                    <input matInput type="text" formControl="username">
                    <mat-error *ngIf="!loginForm.controls['username'].value">
                        erreur
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput type="text" formControl="password">
                    <mat-error *ngIf="!loginForm.controls['password'].value">
                        erreur
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-tab>

        <!--Inscription-->
        <mat-tab label="Inscription">
            <p>
                L'inscription est réservée aux partenaires et établissements de formation
            </p>
            <form fxLayout="column" name="registerForm" formGroupName="registerForm">
                <mat-form-field appearance="outline">
                    <mat-label>username</mat-label>
                    <input matInput type="text" formControl="email">
                    <mat-error *ngIf="!registerForm.controls['email'].value">
                        erreur
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-tab>
        <button mat-stroked-button color="primary" (click)="register()">
            Connexion
        </button>
    </mat-tab-group>

</div>