/* You can add global styles to this file, and also import other style files */

@import '@angular/material/_theming.scss';
@import '../node_modules/@angular/material/_theming.scss';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core();

// Create a config with the default typography levels.
$config: mat-typography-config();

h1, h2, h3, h4, h5, h6 {
  font-size: mat-font-size($config, headline);
}

$mat-red-50: map-get($mat-red, 50);

body {
  font-size: mat-font-size($config, body-1);
  font-family: mat-font-family($config);
  margin: 0;

  .text-red {
    color: $mat-red-50;
  }

}

