@import '../../styles.scss';

app-search {

    padding:20px; 

    .criteria-container {
        @include mat-elevation(2);
        background-color: lightgoldenrodyellow;
        min-height: 50%;
    }
}
