<div id="app-search" fxLayoutAlign="space-between start" fxLayout="row">
    <div fxFlex="25" class="criteria-container p-12 mat-elevation-z2">
        Critères
        <mat-icon>delete</mat-icon>
    </div>
    <div fxFlex="75">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <img src="assets/images/formation.jpg">
            </mat-grid-tile>
            <mat-grid-tile>
                test 1
            </mat-grid-tile>
            <mat-grid-tile>
                test 2
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>