<section class="intro" fxLayout="row" fxLayout.xs="column">
  <img fxFlex="50%" src="assets/images/formation.jpg" alt="Formation JPG">
  <div fxFlex="50%">
    <h1>Lorem ipsum dolor</h1>
    <p>
      Lorem ipsum dolor sit amet,
      <br>
      consectetur adipisicing elit. Asperiores eveniet fugiat necessitatibus non quam reiciendis sed?
      Fuga labore perspiciatis porro.
      <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, neque!
    </p>
    <a mat-stroked-button href="https://wiseprogram.eu/">En savoir plus</a>
  </div>
</section>
<section class="search" fxLayout="row" fxLayoutAlign="center">
  <div>
    <span>Lorem ipsum dolor sit amet.</span>
  </div>
</section>
